{% extends 'games/base.html' %}
{% block content %}
{% load static %}

<div class="container mt-5">
    <div class="row">
        <div class="col-6">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card mt-3">
                    <div class="form-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Войти
                    </button>

                </div>

            </form>
        </div>
    </div>

</div>
{% endblock %}
